.video-starter {
    border-bottom: 1px solid #DDD;
}

.local-participant {
    background-color: #333;
    border-bottom: 1px solid #111;
    /*text-align: center;*/
}

.remote-participants {
    background-color: #333;
    /*display: flex;*/
    /*flex-wrap: nowrap;*/
    /*justify-content: space-between;*/
    /*padding: 0 2em 2em;*/
}

.participant {
    text-align: center;
    /*border: 5px solid #777;*/
    /*border-radius: 5px;*/
}
.participant-name {
    color: #EEE;
    padding-bottom: 10px;
}
.participant-video {
    width: 100%;
    /*border-radius: 5px;*/
    margin-bottom: -5px;
}