http://localhost
route /twilio_chat/* {
uri strip_prefix /twilio_chat
reverse_proxy twilio_chat:4010
}
route /twilio_accounts/* {
uri strip_prefix /twilio_accounts
reverse_proxy twilio_accounts:4010
}
route /twilio_conversations/* {
uri strip_prefix /twilio_conversations
reverse_proxy twilio_conversations:4010
}