http://localhost
route /twilio_chat/* {
uri strip_prefix /twilio_chat
reverse_proxy twilio_chat:4010
}
route /twilio_account/* {
uri strip_prefix /twilio_account
reverse_proxy twilio_account:4010
}
route /twilio_conversation/* {
uri strip_prefix /twilio_conversation
reverse_proxy twilio_conversation:4010
}